*{
    margin: 0%;
    padding: 0%;
}
body{
    background: url(image1.jpg) no-repeat;
    color: aliceblue;
    
}
.back{
    background-color: rgba(0,0,0,.3);
    margin: 250px auto;
    width:300px;
    padding: 20px 20px 40px;
    border-radius: 5px;
    font-size: 30px;
}

.back h1{
    text-align: center;
    color: red;
    font-family: sans-serif;
    
}
.ram{
    display: block;
}
.back form{
    margin: 20px,auto;
}
.jamu{
    margin-bottom: 10px;

}
.rani{
    padding: 5px 10px 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: aquamarine;
    border: 1px solid rgba(3, 238, 152, 0.333);
}

.rani:hover{
    background-color: aqua;

}
.btn{
    text-align: center;
}
button{
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(0, 208, 255);
    box-shadow: b;
}
.radio input{
    transform: scale(1.5);
}