*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: radial-gradient(purple,blue,yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background:rgba(0,0,0,0.1);
    color: white;
    width: 750px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 15px white;
    backdrop-filter: blur;
}
.container h1{
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
    margin: 30px 0 20px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}
.input-field{
    display: flex;
    
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 400;
    margin:10px;
}
.input-field input{
    font-size: 20px;
    padding: 10px;
    outline: none;
    border-radius: 8px;
    border:2px solid white;
    background: transparent;
    
}
.input-field input:focus{
    background:transparent;
    cursor: pointer;
}
.input-field input::placeholder{
    color: white;
}
.input-field-1 label,input{
    margin:10px;
    
}
.input-field-2 label,input{
    margin:10px;
    
}
.input-field2{
    position: relative;
    left: 30%;
    font-size: 20px;
    font-weight: 200;
}
.checkbox{
    margin: 0 30px 30px;
}
button{
    width: 100%;
    height: 50px;
    font-size: 24px;
    background:radial-gradient(purple,blue,yellow);
    outline: none;
    border: none;
    border-radius:10px;
    box-shadow: 0 0 10px white;
    color: aliceblue;
    
}
button:hover{
    background: radial-gradient(yellow,blue,purple);
    color: black;
    cursor: pointer;
}

@media all and (max-width:385px){
    body{
        height: 100vh;
        width: 100vw;
        background: radial-gradient(purple,blue,yellow);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        background:rgba(0,0,0,0.1);
        color: white;
        width: 750px;
        border-radius: 10px;
        outline: none;
        box-shadow: 0 0 15px white;
        backdrop-filter: blur;
    }
    .container h1{
        text-align: center;
        font-size: 34px;
        font-weight: 600;
        text-shadow: 2px 2px 2px black;
        margin: 30px 0 20px;
        border-bottom: 2px solid white;
        padding-bottom: 10px;
    }
    .input-field{
        display: flex;
        
        align-items: center;
        justify-content:space-around;
        flex-wrap: wrap;
        font-size: 20px;
        font-weight: 400;
        margin:10px;
    }
    .input-field input{
        font-size: 20px;
        padding: 10px;
        outline: none;
        border-radius: 8px;
        border:2px solid white;
        background: transparent;
        
    }
    .input-field input:focus{
        background:transparent;
        cursor: pointer;
    }
    .input-field input::placeholder{
        color: white;
    }
    .input-field-1 label,input{
        margin:10px;
        
    }
    .input-field-2 label,input{
        margin:10px;
        
    }
    .input-field2{
        position: relative;
        left:0%;
        font-size:18px;
        font-weight: 200;
    }
    .checkbox{
        margin: 0 30px 30px;
    }
    button{
        width: 100%;
        height: 50px;
        font-size: 24px;
        background:radial-gradient(purple,blue,yellow);
        outline: none;
        border: none;
        border-radius:10px;
        box-shadow: 0 0 10px white;
        color: aliceblue;
        
    }
    button:hover{
        background: radial-gradient(yellow,blue,purple);
        color: black;
        cursor: pointer;
    }
    .row2{
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
}

    


